.navbar {
  background-color: var(--adm-color-primary);
  color: var(--base-color-white);
}

.container {
  background-image: linear-gradient(30deg, rgba(79, 172, 254, .2), var(--adm-color-white));
  padding: 0 var(--base-padding-sm);

  .user-header {
    display: flex;
    width: 100%;
    height: 5.8rem;
    padding: var(--base-padding-sm) var(--base-padding-sm) var(--base-padding-sm);
    margin-bottom: var(--base-margin-sm);

    .user-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
      padding-left: var(--base-padding);

      .nickname,
      .detail {
        color: var(--base-font-color);
      }

      .nickname {
        font-size: var(--base-font-size);
        font-weight: 700;
      }

      .username {
        color: var(--base-font-gray);
      }

      .detail {
        .division {
          margin: 0 var(--base-margin-sm);
          font-size: var(--base-font-size-sm);
          font-weight: 100;
        }
      }
    }

    .user-setting {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .mine-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;

    background-color: var(--base-color-white);
    border-radius: var(--base-radius);
    padding: var(--base-padding);

    .card-item {
      height: 100%;
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: var(--base-font-color);

      .card-title {
        margin-top: .2rem;
        font-size: var(--base-font-size-sm);
      }
    }
  }

  .function {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 5rem;

    .card-item {
      height: 100%;
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: var(--base-font-color);

      .card-title {
        margin-top: .2rem;
        font-size: var(--base-font-size-sm);
      }
    }
  }

  .order {
    .order-title {
      width: 100%;
      color: var(--base-font-color);
      font-weight: 700;
      font-size: var(--base-font-size);
      margin-bottom: var(--base-margin);
    }
  }

}